<div id="newfeeds" class="home container main">
    <div
        class="banner"
        style="background-image: url(/images/baseimg/banner-bg.png)"
    >
        <img
            src="/images/baseimg/newsfeed-icon.png"
            alt=""
            class="banner-icon"
        />
        <div class="banner-info">
            <p class="banner-info__newsfeed">Newfeed</p>
            <p class="banner-info__check">
                Check what your friends have been up to!
            </p>
        </div>
    </div>
    <div class="news grid__row">
        <div class="new-left grid__column-3">
            <div class="newest">
                <p class="heading">Newest Members</p>
                <div class="user">
                    <div class="user-info">
                        <img
                            src="/images/baseimg/117251156_780671119335149_3490588943834725576_o copy 5.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Tống Hoàng</a>
                            <p class="user-info__list-status">
                                active 1 day ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/118391134_850516805482962_3300234423537028625_n.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Nguyễn Hưng</a>
                            <p class="user-info__list-status">
                                active 2 hours ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/anhdaidien1.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Nguyễn Tuấn</a>
                            <p class="user-info__list-status">
                                active 3 hours ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/avata1.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Đức Dũng</a>
                            <p class="user-info__list-status">
                                active 15 minutes ago
                            </p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/avata2.jpg"
                            alt=""
                            class="user-info__img"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">Khoa Đăng</a>
                            <p class="user-info__list-status">
                                active 2 days ago
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-center grid__column-6">
            <div class="quick-filter">
                <p class="quick-filters-tab">All Updates</p>
                <div class="quick-filters-form">
                    <span class="show">Show</span>
                    <select name="" id="">
                        <option value="Everything">Everything</option>
                        <option value="Status">Status</option>
                        <option value="Share">Share</option>
                        <option value="Media">Media</option>
                    </select>
                </div>
            </div>
            <% if(locals.posts && locals.posts[0]) { 
                posts.forEach( post => { %>
                    <div class="widget-box media">
                        <div class="widget-box-status">
                            <div class="user-status">
                                <div class="user-status__avatar">
                                    <img
                                        src="<%=post.image%>"
                                        alt=""
                                    />
                                </div>
                                <div class="user-status__info">
                                    <span class="user-status__info-name">
                                        <a href=""><%=post.name%></a>
                                        posted an update
                                    </span>
                                    <p class="user-status__info-time"><%=post.ago%></p>
                                </div>
                            </div>
                            <p class="user-status-text"><%=post.content%></p>
                        </div>
                        <img
                            style="max-width: 100%"
                            src="<%=post.image%>"
                            alt=""
                        />
                        <div class="content-actions">
                            <div class="content-action content-action__react">
                                <i class="far fa-thumbs-up"></i>
                                <span class="content-action-text">React</span>
                                <span class="content-action-count"><%=post.react.length%></span>
                            </div>
                            <div class="content-action">
                                <i class="far fa-comment-alt"></i>
                                <span class="content-action-text">Comment</span>
                            </div>
                            <div class="content-action">
                                <i class="fas fa-share"></i>
                                <span class="content-action-text">Share</span>
                            </div>
                        </div>
                    </div>
            <% })} %> 
           
        </div>
        <div class="new-right grid__column-3">
            <div class="newest">
                <p class="heading">Popular Groups</p>
                <div class="user">
                    <div class="user-info">
                        <img
                            src="/images/baseimg/125567116_10222037693864792_3083228917287898622_o.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"
                                >UIT K13 (Khóa 2018)</a
                            >
                            <p class="user-info__list-status">4000 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/117251156_780671119335149_3490588943834725576_o copy.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"> We are one!!! </a>
                            <p class="user-info__list-status">37 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/jeshoots-com-250229-unsplash-584x389.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"
                                >Gaming Video Creator</a
                            >
                            <p class="user-info__list-status">10 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/118715108_338880747261111_5322256351393249662_n.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name"
                                >Bộ tộc Mixigaming</a
                            >
                            <p class="user-info__list-status">6000 members</p>
                        </div>
                    </div>
                    <div class="user-info">
                        <img
                            src="/images/baseimg/tinh-gia.jpg"
                            alt=""
                            class="user-info__img-1"
                        />
                        <div class="user-info__list">
                            <a class="user-info__list-name">
                                THPT Tĩnh Gia II
                            </a>
                            <p class="user-info__list-status">42 members</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var posts = <%-JSON.stringify(locals.posts)%>
    console.log(posts)
</script>
